{% extends '::base.html.twig' %}

  {% block body %}
  {% for post in post if post.category.id == 3 %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
        <p><a class="btn btn-primary btn-lg" href="{{path('admin_post_show', {id:post.id})}}" role="button">{% trans %}btn_view_more{% endtrans %}</a></p>
      </div>
    </div>
    {% endfor %}


  <div class="container">
    <div class="row">
      {% for post in post|slice(0, 3) %}
        <div class="col-md-4">
          <h2>{{post.title}}</h2>
          <p>{{post.content|slice(0,60)}}...
            <p><a class="btn btn-default" href="{{path('pixelpromicms_cms_show', {id:post.id})}}" role="button">{% trans %}btn_view_more{% endtrans %}</a></p>
          </div>
            {% endfor %}
    </div>
  </div>
  {#{{ dump(post) }}#}


{% endblock %}
